<h2>Completed Rides</h2>

<% current_user.completed_rides.each do |ride| %>

<p>
  <strong>Rider</strong>: <%= ride.rider.name %> | 

  <strong>Driver</strong>: <%= ride.driver.name %> | 

  <strong>Pickup Location</strong>: <%= ride.pickup %> | 

  <strong>Dropoff Location</strong>: <%= ride.dropoff %>

  <br>

  <strong>Requested Time</strong>: <%= human_time(ride.requested_time) %> | 

  <strong>Accepted Time</strong>: <%= human_time(ride.accepted_time) %>

  <br>

  <strong>Pickup Time</strong>: <%= human_time(ride.pickup_time) %> | 

  <strong>Drop Off Time</strong>: <%= human_time(ride.dropoff_time) %>

  <br>

  <strong>Ride Cost</strong>: <%= number_to_currency ride.cost %>

</p>

  <hr>
<% end %>
