<h1><%= current_user.name %></h1>

<% if current_user.current_ride %>

  <h2>Current Ride</h2>

  <h4>Pickup Location</h4>
  <%= current_user.current_ride.pickup %>

  <h4>Dropoff Location</h4>
  <%= current_user.current_ride.dropoff %>

  <h4>Number of Passengers</h4>
  <%= current_user.current_ride.passenger_number %>

  <h4>Status</h4>
  <%= current_user.current_ride.status %>  

<% else %>

<%= link_to "request a ride", new_ride_path %>

<% end %>

<%= render "shared/completed_rides" %>

